# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables (PENTING)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# Vite specific (jika pakai Vite)
dist/
dist-ssr/